*{
    margin: 0;
    padding: 0;
}
body{
    font:14px Georgia, serif;
    background: #ccc;
}

h2{
    font: 24px Georgia;
    margin: 0 0 10px 0;
}
h3{
    margin: 0 0 8px 0;
}
p{
    margin: 0 0 10px 0
}
#fluid-wrap{
    width: 70%;
    margin: 6-0px auto;
    padding: 20px;
    background: #ccc;
    overflow:hidden;
}

#sidebar{
    width: 35%;
    float: left;
}
#sidebar ul{
    list-style: none;
}
#sidebar ul li a{
    color:red;
    text-decoration: none;
    padding: 3px 0;
    display: block;
}

#main-content{
    width: 65%;
    float:right;
}


